## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mangai,CD,-4.05,19.53,68.27,99,94,1.61,overcast clouds
1,1,Rikitea,PF,-23.12,-134.97,74.93,82,71,12.30,broken clouds
2,2,Yellowknife,CA,62.46,-114.35,24.01,96,96,4.45,overcast clouds
3,3,Ushuaia,AR,-54.80,-68.30,39.43,85,48,4.74,light rain
4,4,Matamoros,MX,25.53,-103.25,70.54,23,0,7.11,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Jawhar,SO,2.78,45.50,75.97,91,2,4.88,clear sky
14,14,Butaritari,KI,3.07,172.79,81.12,71,100,3.49,overcast clouds
16,16,Hithadhoo,MV,-0.60,73.08,83.05,74,3,12.21,clear sky
26,26,Banda Aceh,ID,5.56,95.32,80.35,69,100,10.78,overcast clouds
29,29,Cabo San Lucas,MX,22.89,-109.91,81.00,59,5,3.00,clear sky
30,30,Amapa,BR,1.00,-52.00,84.40,55,88,5.53,overcast clouds
33,33,Sao Jose Da Coroa Grande,BR,-8.90,-35.15,76.64,79,100,11.12,overcast clouds
37,37,Dalby,AU,-27.18,151.27,75.00,34,0,3.00,clear sky
42,42,Luanda,AO,-8.84,13.23,75.45,87,60,7.85,broken clouds
43,43,Kano,NG,12.00,8.52,78.51,22,0,5.41,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                212
City                   212
Country                211
Lat                    212
Lng                    212
Max Temp               212
Humidity               212
Cloudiness             212
Wind Speed             212
Current Description    212
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

City_ID                211
City                   211
Country                211
Lat                    211
Lng                    211
Max Temp               211
Humidity               211
Cloudiness             211
Wind Speed             211
Current Description    211
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
clean_hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
clean_hotel_df["Hotel Name"] = ""
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Jawhar,SO,75.97,clear sky,2.78,45.50,
14,Butaritari,KI,81.12,overcast clouds,3.07,172.79,
16,Hithadhoo,MV,83.05,clear sky,-0.60,73.08,
26,Banda Aceh,ID,80.35,overcast clouds,5.56,95.32,
29,Cabo San Lucas,MX,81.00,clear sky,22.89,-109.91,
30,Amapa,BR,84.40,overcast clouds,1.00,-52.00,
33,Sao Jose Da Coroa Grande,BR,76.64,overcast clouds,-8.90,-35.15,
37,Dalby,AU,75.00,clear sky,-27.18,151.27,
42,Luanda,AO,75.45,broken clouds,-8.84,13.23,
43,Kano,NG,78.51,clear sky,12.00,8.52,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in clean_hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    try:
        clean_hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
clean_hotel_df.loc[clean_hotel_df["City"]=="Amapa","Hotel Name"]==""

30    True
Name: Hotel Name, dtype: bool

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df=clean_hotel_df.loc[clean_hotel_df["Hotel Name"]!=""]

In [11]:
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Jawhar,SO,75.97,clear sky,2.78,45.50,cosoble spare parts
14,Butaritari,KI,81.12,overcast clouds,3.07,172.79,Isles Sunset Lodge
16,Hithadhoo,MV,83.05,clear sky,-0.60,73.08,Scoop Guest House
26,Banda Aceh,ID,80.35,overcast clouds,5.56,95.32,OYO 884 Rumoh PMI Hotel
29,Cabo San Lucas,MX,81.00,clear sky,22.89,-109.91,Hotel Tesoro Los Cabos
33,Sao Jose Da Coroa Grande,BR,76.64,overcast clouds,-8.90,-35.15,Crôa Mares Hotel
37,Dalby,AU,75.00,clear sky,-27.18,151.27,Kobbers Motor Inn Dalby
42,Luanda,AO,75.45,broken clouds,-8.84,13.23,EPIC SANA Luanda
43,Kano,NG,78.51,clear sky,12.00,8.52,La Sultana Hotel
46,Gizo,SB,84.72,overcast clouds,-8.10,156.84,Imagination Island

In [ ]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [14]:
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

In [15]:
# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [16]:
locations.head(10)

      Lat     Lng
6    2.78   45.50
14   3.07  172.79
16  -0.60   73.08
26   5.56   95.32
29  22.89 -109.91
33  -8.90  -35.15
37 -27.18  151.27
42  -8.84   13.23
43  12.00    8.52
46  -8.10  156.84

In [17]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))